@model Application.ViewModel.LoanInformationViewModel
@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const InterestRate = () => {

        const id = $("#LoanType").val();
        let value = 0;
        if (id < 0) {

        }
        else {
            $.ajax({
                url: "@Url.Action("GetInterestRate","LoanCalculator")",
                type: "GET",
                dataType: "JSON",
                data: { id: id },
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        value = result[i].interestRate;
                        console.log(value);

                        $("#RateInterest").val(value);
                    }
                }
            });

        }
    }
</script>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" asp-action="TotalToPay" asp-controller="LoanCalculator">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Amount" class="form-label">Amount:</label>
                            <input type="number" step="any" name="Amount" class="form-control" asp-for="Amount" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Type" class="form-label">Type:</label>
                            <select name="Type" asp-for="Type" class="form-select" id="LoanType" onchange="InterestRate()">
                                <option value="-1">Select a Type</option>
                                <option value="1">Personal</option>
                                <option value="2">Automovil</option>
                                <option value="3">Hipotecario</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" id="containerInterest">
                          <label asp-for="RateInterest">Interest Rate:</label>
                          <input type="number" name="RateInterest" asp-for="RateInterest" id="RateInterest" readonly/>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="MonthlyPay">Monthly amount of dues:</label>
                            <select asp-for="MonthlyPay" name="MonthlyPay" class="form-select" required>
                                <option value="-1">Select a Monthly Amount</option>
                                @for (int i = 12; i <= 120; i = i + 6)
                                {
                                    <option value=@i>@i Month</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

